/* Sidebar Style */
.sideBar {
  height: 50px;
  width: 90px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.sidebarLogo {
  height: 50px;
  width: 50px;
}
/* main area  */
.dashArea {
  width: 92%;
  height: 100%;
  margin-top: 20px;
  margin-left: 10px;
}
/* navigation bar  */
.navIcon {
  height: 25px;
  width: 25px;
  margin-left: 20px;
  margin-right: 20px;
}
.createPost {
  margin-left: 650px;
}
.navbar-brand {
  margin-left: 100px;
}

/* navbar height decrease custom css */
.navbar-nav > li > a {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
.navbar {
  min-height: 20px !important;
}

/* Dashboard Styles start here  */
.dashboardSection {
  height: 530px;
  width: 1250px;
  background-image: url(../img/dashboard.svg);
  background-size: 1250px 530px;
}
.addMediaIcon {
  height: 20px;
  width: 20px;
  margin: 3px 4px 3px -2px;
}
#createPostInput {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

#createPostInputLabel {
  margin-bottom: 0px;
  cursor: pointer;
}

.createPostForm,
select {
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
  height: 60px;
  width: 300px;
  text-align: justify;
}

.formContainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  height: 500px;
  width: 340px;
  overflow: auto;
}
.createPostImagePreview {
  height: auto;
  width: 300px;
  margin: 5px auto 10px auto;
  display: block;
  max-width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.createPostDefaultImage {
  background-image: url("../img/createpost/gallery.svg");
  background-size: 90% 90%;
  background-repeat: no-repeat;
  background-position: 50%;
  max-width: 100%;
}

.preview-bar {
  margin-left: 100px;
}
.previewBarIcon {
  height: 25px;
  width: 25px;
}
.PreviewImage {
  width: 470px;
  height: auto;
  margin: 25px auto 20px auto;
  display: block;
  max-width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-position: 50%;
  background-image: url("../img/createpost/gallery.svg");
  background-size: 90% 90%;
  background-repeat: no-repeat;
}
.PostPreview {
  margin-left: 20px;
  height: 455px;
  width: 500px;
  overflow: auto;
}
.previewPanel {
  background-color: #f6f6f6;
  height: 500px;
}

.post-text {
  font-size: 14px;
  line-height: 1.38;
  margin: 5px 10px 10px 10px;
}

.userProfileIcon {
  margin: 10px;
  height: 40px;
  width: 40px;
}

.facebookPreviewUsername {
  padding: 10px 10px 0px 10px;
  margin: 10px 0px 0px 50px;
  line-height: 2%;
  line-break: inherit;
  font-size: 0.8rem;
}
